@font-face {
  font-family: "Groovy";
  src: url('assets/GroovyDay.ttf');
  src: url('assets/GroovyDay.ttf') format('truetype');
}

@font-face {
  font-family: "Peachy";
  src: url('assets/PeachDays.ttf');
  src: url('assets/PeachDays.ttf') format('truetype');
}

@font-face {
  font-family: "CMU";
  src: url('assets/cmu.ttf');
  src: url('assets/cmu.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
  user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #fbe9e4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page {
  max-width: 80%;
  max-height: 90%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#title_page {
  display: flex;
}

#tumbleweed_title {
  width: 80%;
  font-family: "Groovy";
  font-size: 10vmin;
  color: #f4c67f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-shadow: 0 2px 10px #774510;
}

.bounce_text {
  opacity: 0;
  animation: bounce 5s infinite ease-in-out, bounceFadeIn 1s linear forwards;
}

#play_triangle {
  opacity: 0;
  animation: bounceFadeIn 1s linear forwards;
  animation-delay: 3s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-20px);
  }
  30% {
    transform: translateY(20px);
  }
  60% {
    transform: translateY(0);
  }
}

@keyframes bounceFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#bounce1 {
  animation-delay: 0.6s;
}

#bounce2 {
  animation-delay: 0.7s;
}

#bounce3 {
  animation-delay: 0.8s;
}

#bounce4 {
  animation-delay: 0.9s;
}

#bounce5 {
  animation-delay: 1.0s;
}

#bounce6 {
  animation-delay: 1.1s;
}

#bounce7 {
  animation-delay: 1.2s;
}

#bounce8 {
  animation-delay: 1.3s;
}

#bounce9 {
  animation-delay: 1.4s;
}

#bounce10 {
  animation-delay: 1.5s;
}

#tumbleweed_container {
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#tumbleweed {
  width: 80vmin;
  height: 80vmin;
  animation: fadein 12s forwards, rotating 60s infinite linear;
  opacity: 0;
  transition: 2s;
  z-index: 100;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.triangle {
  cursor: pointer;
  margin: 5vmin;
  width: 10vmin;
  height: 10vmin;
  opacity: 0.75;
  transition: 0.5s;
  position: relative;
}

.triangle:hover {
  transition: 0.5s;
  opacity: 1;
  transform: scale(1.2);
}

.answer.triangle {
  margin: 0;
  width: 5vmin;
  height: 5vmin;
  align-self: center;
}

.page_fly_in {
  animation: fly-in 1s 1 ease-in-out;
  display: flex;
}

.page_fly_out {
  animation: fly-out 1s 1 ease-in-out forwards;
}

@keyframes fly-out {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}

@keyframes fly-in {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}

.prompt_text {
  font-family: "Peachy";
  font-size: 6vmin;
  color: black;
  text-align: left;
}

.option {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-top: 3px solid #f4c67f;
  padding: 10px;
}

.selected_option {
  background-color: #f4c67f;
  transition: background-color 1s;
}

.answer_text {
  font-family: "Peachy";
  font-size: 4vmin;
  color: black;
  align-self: center;
  margin-right: 10px;
}

.answer_container {
  margin-top: 30px;
  min-width: 50%;
  align-items: flex-start;
}

#chess_board_container {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  border: 3px solid #774510;
}

.chess_row {
  display: flex;
  flex-direction: row;
}

.chess_square {
  list-style-type: none;
  width: 10vmin;
  height: 10vmin;
  display: flex;
  align-items: center;
  justify-content: center;
}

#horse_piece {
  position: relative;
  width: 8vmin;
  height: 8vmin;
  cursor: grab;
}

#horse_piece:active {
  cursor: grabbing;
}

#chessmove_prompt {
  transition: opacity 0.5s;
  opacity: 0;
}

.tile_container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  min-height: calc(8vmin + 48px);
  min-width: 100%;
  border-bottom: 3px solid #f4c67f;
  justify-content: center;
  align-items: center;
}

.letter_tile {
  cursor: pointer;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 7vmin;
  color: white;
  box-shadow: 5px 5px 0 black;
  background-color: blue;
  list-style-type: none;
  width: 8vmin;
  height: 8vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1vmin;
  margin-right: 1vmin;
  line-height: 1rem;
}

#tile_container2 {
  margin-top: 0;
  padding-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 15px;
}

#tile_prompt {
  margin-top: 30px;
  transition: opacity 0.5s;
  opacity: 0;
}

.answer_input {
  outline: 3px solid #f4c67f;
  border: none;
  padding: 5px;
  font-family: "Peachy";
  font-size: 4vmin;
  margin-right: 20px;
}

.answer_input:focus {
  outline: 6px solid #f4c67f;
}

#prompt5_option1 {
  padding-top: 20px;
}

#drake_equation {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "CMU";
}

#drake_container {
  display: flex;
  flex-direction: row;
  border-bottom: 3px solid #f4c67f;
}

#drake_list_container {
  cursor: move;
  display: grid;
  gap: 10px;
  grid-template-columns: 5ch 1fr;
  margin-bottom: 30px;
}

.drake_subgrid {
  display: grid;
  gap: 10px;
  grid-template-rows: repeat(8, 1fr);
}

.drake_term {
  list-style-type: none;
  font-family: "CMU";
  font-size: 3vmin;
  padding: 5px;
  line-height: 1rem;
  text-align: center;
  align-self: center;
}

.drake_desc {
  list-style-type: none;
  font-family: Helvetica, sans-serif;
  font-size: 3vmin;
  line-height: 1rem;
  padding: 10px 5px;
  border: 3px solid #f4c67f;
  text-align: left;
  align-self: center;
}

.drake_highlight {
  background-color: #b3dfde;
}

.drake_filter {
  background-color: #f4c67f;
}

#prompt9_option1 {
  border: none;
}

.shape_container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

#sat_curved_arrow {
  transform: scaleY(-1) rotate(-0.125turn);
  font-size: 6vmin;
  line-height: 1rem;
}

.sat_circle {
  border-radius: 100%;
  background-color: white;
  border: 3px solid black;
  display: flex;
  justify-content: center;
}

#sat_small_circle {
  width: 10vmin;
  height: 10vmin;
}

#sat_large_circle {
  width: 20vmin;
  height: 20vmin;
}

.sat_circle_content {
  margin-left: -1vmin;
  font-family: "CMU";
  line-height: 1rem;
  text-align: center;
  font-size: 4vmin;
  align-self: center;
}

.shape_cont_img {
  width: 20vmin;
  height: 20vmin;
}

#maze {
  width: 80vmin;
  height: 80vmin;
  z-index: 10;
}

#maze_start_square {
  position: absolute;
  top: 0;
  left: 35vmin;
  background: none;
  width: 10vmin;
  height: 7vmin;
  z-index: -10;
}

#maze_end_square {
  position: absolute;
  top: 35vmin;
  left: 74vmin;
  background: none;
  width: 7vmin;
  height: 10vmin;
  z-index: -10;
}

#maze_cheese_square {
  position: absolute;
  top: 32vmin;
  left: 32vmin;
  background: none;
  width: 16vmin;
  height: 16vmin;
  z-index: -10;
  border-radius: 100%;
}

#maze_canvas {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
}

#makeover_shape_container {
  flex-direction: row;
  min-height: 50vmin;
}

.makeover.triangle {
  margin: 1vmin;
  width: 6vmin;
  height: 6vmin;
  z-index: 20;
}

.makeover_column {
  width: 20vmin;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

.makeover_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#makeover_image_container {
  margin-left: 5vmin;
  margin-right: 5vmin;
  margin-bottom: 5vmin;
  position: relative;
  width: 40vmin;
  height: 60vmin;
  top: 0;
  left: 0;
}

.makeover_asset {
  width: 40vmin;
  height: 60vmin;
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
}

.visible_asset {
  display: flex;
  opacity: 100%;
}

#page15 {
  max-width: 90%;
}

.makeover_text {
  font-family: "Peachy";
  font-size: 4vmin;
  color: black;
  text-align: center;
}

#makeover_c1_prompt, #makeover_c2_prompt {
  margin-bottom: 2vmin;
}

.makeover_fly_out_right {
  animation: makeover-fly-out-right 0.25s 1 ease-out forwards;
}

.makeover_fly_from_right {
  animation: makeover-fly-from-right 0.25s 1 ease-out forwards;
}

.makeover_fly_out_left {
  animation: makeover-fly-out-left 0.25s 1 ease-out forwards;
}

.makeover_fly_from_left {
  animation: makeover-fly-from-left 0.25s 1 ease-out forwards;
}

@keyframes makeover-fly-out-right {
  0% {
    transform: translateX(0);
    opacity: 100%;
  }
  100% {
    transform: translateX(5vw);
    opacity: 0;
  }
}

@keyframes makeover-fly-from-right {
  0% {
    transform: translateX(5vw);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}

@keyframes makeover-fly-out-left {
  0% {
    transform: translateX(0);
    opacity: 100%;
  }
  100% {
    transform: translateX(-5vw);
    opacity: 0;
  }
}

@keyframes makeover-fly-from-left {
  0% {
    transform: translateX(-5vw);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}

#prompt15_option1, #prompt19_option1, #prompt20_option1 {
  width: 100%;
  justify-content: center;
}

#inkblot {
  width: 50vmin;
  height: 50vmin;
  z-index: 10;
}

#progress_bar {
  display: flex;
  width: 50vmin;
  height: 5vmin;
  background: black;
  border: 5px solid black;
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
  justify-content: flex-start;
}

#progress_fill {
  background: #f4c67f;
  border-radius: 10px;
  height: 100%;
  width: 0%;
  padding: 5px 5px 5px 5px;
}

#progress_fill.complete {
  transition: 2s;
  background: #70d863;
}

.fadeout {
  animation: fadeout 3s forwards;
}

@keyframes fadeout {
  0% { opacity: 1 }
  33% { opacity: 1 }
  100% { opacity: 0 }
}

@keyframes fadein {
  0% { opacity: 0 }
  33% { opacity: 0 }
  100% { opacity: 1 }
}

#page18 {
  max-height: 95%;
  max-width: 95%;
}

#plinko_container {
  margin-top: 0;
  display: flex;
  width: min(95vw,71.43vh);
  height: min(95vh, 126.35vw);
  align-items: center;
  justify-content: center;
  outline: 3px solid #f4c67f;
  border-radius: 1vmin;
}

#plinko_canvas {
  transition: 1s;
}

#signature_canvas {
  border: 3px solid #f4c67f;
}

.final_letter {
  font-family: 'Courier New', monospace;
  font-size: 1em;
  color: black;
  text-align: left;
  opacity: 0;
  display: inline;
  animation: typing 0.1s forwards;
}

#letter_container {
  width: 80vw;
  font-family: 'Courier New', monospace;
  font-size: 1em;
  color: black;
  text-align: left;
  display: inline;
}

#prompt19_option1 {
  margin-top: 30px;
  border: none;
}

#prompt20_option1 {
  margin-top: 30px;
  display: none;
}

#tumbleweed_background, #tumbleweed_foreground {
  opacity: 0;
  animation: fadein 6s forwards;
}

#tumbleweed_background {
  filter: blur(40px);
}

#tumbleweed_foreground {
  z-index: 90;
}

#tumbleweed_grain {
  z-index: 150;
  opacity: 0;
  animation: grain_fade 6s forwards;
}

@keyframes grain_fade {
  0% { opacity: 0 }
  33% { opacity: 0 }
  100% { opacity: .2 }
}

#header {
  display: none;
  position: fixed;
  z-index: 200;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  width: 95%;
  padding: 20px 0;
  top: 0;
}

.menu_button {
  opacity: 0;
  width: 5vmin;
  height: 5vmin;
  margin-left: 1vmin;
  cursor: pointer;
  filter: drop-shadow(0 0 5px gray);
}

.menu_button_animate {
  animation: fadein 5s forwards;
}

.modal {
  background-color: #fbe9e4;
  display: none;
  grid-auto-flow: row;
  gap: 10px;
  position: fixed;
  width: 80%;
  height: 80%;
  z-index: 300;
  align-items: center;
  justify-content: center;
  border: 3px solid #f4c67f;
  border-radius: 10px;
}

.modal.active {
  display: grid;
}

#modal_overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  z-index: 250;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  pointer-events: none;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

#modal_overlay.active {
  pointer-events: all;
  opacity: 1;
}

#tumbleweed_canvas {
  display: none;
}
