@font-face {
  font-family: "Groovy";
  src: url('assets/GroovyDay.ttf');
  src: url('assets/GroovyDay.ttf') format('truetype');
}

@font-face {
  font-family: "Peachy";
  src: url('assets/PeachDays.ttf');
  src: url('assets/PeachDays.ttf') format('truetype');
}

@font-face {
  font-family: "CMU";
  src: url('assets/cmu.ttf');
  src: url('assets/cmu.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
  user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #fbe9e4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page {
  max-width: 80%;
  max-height: 90%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#title_page {
  display: flex;
}

#tumbleweed_title {
  width: 80%;
  font-family: "Groovy";
  font-size: 10vmin;
  color: #f4c67f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-shadow: 0 2px 10px #774510;
}

.bounce_text {
  animation: bounce 8s infinite ease-in-out;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-20px);
  }
  30% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0);
  }
}

#bounce1 {
  animation-delay: 0s;
}

#bounce2 {
  animation-delay: 0.1s;
}

#bounce3 {
  animation-delay: 0.2s;
}

#bounce4 {
  animation-delay: 0.3s;
}

#bounce5 {
  animation-delay: 0.4s;
}

#bounce6 {
  animation-delay: 0.5s;
}

#bounce7 {
  animation-delay: 0.6s;
}

#bounce8 {
  animation-delay: 0.7s;
}

#bounce9 {
  animation-delay: 0.8s;
}

#bounce10 {
  animation-delay: 0.9s;
}

#tumbleweed {
  overflow: hidden;
  animation: rotating 100s linear infinite;
}

@keyframes rotating {
  0% {
    transform: translateY(25%) rotate(0deg);
  }
  50% {
    transform: translateY(25%) rotate(180deg);
  }
  100% {
    transform: translateY(25%) rotate(360deg);
  }
}

.triangle {
  cursor: pointer;
  margin: 5vmin;
  width: 10vmin;
  height: 10vmin;
  opacity: 0.75;
  transition: 0.5s;
  position: relative;
}

.triangle:hover {
  transition: 0.5s;
  opacity: 1;
  transform: scale(1.2);
}

.answer.triangle {
  margin: 0;
  width: 5vmin;
  height: 5vmin;
  align-self: center;
}

.page_fly_in {
  animation: fly-in 1s 1 ease-in-out;
  display: flex;
}

.page_fly_out {
  animation: fly-out 1s 1 ease-in-out forwards;
}

@keyframes fly-out {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}

@keyframes fly-in {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}

.prompt_text {
  font-family: "Peachy";
  font-size: 6vmin;
  color: black;
  text-align: left;
}

.option {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-top: 3px solid #f4c67f;
  padding: 10px;
  
}

.selected_option {
  background-color: #f4c67f;
  transition: background-color 1s;
}

.answer_text {
  font-family: "Peachy";
  font-size: 4vmin;
  color: black;
  align-self: center;
  margin-right: 10px;
}

.answer_container {
  margin-top: 30px;
  min-width: 50%;
  align-items: flex-start;
}

#chess_board_container {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  border: 3px solid #774510;
}

.chess_row {
  display: flex;
  flex-direction: row;
}

.chess_square {
  list-style-type: none;
  width: 10vmin;
  height: 10vmin;
  display: flex;
  align-items: center;
  justify-content: center;
}

#horse_piece {
  position: relative;
  width: 8vmin;
  height: 8vmin;
  cursor: grab;
}

#horse_piece:active {
  cursor: grabbing;
}

#chessmove_prompt {
  transition: opacity 0.5s;
  opacity: 0;
}

.tile_container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  min-height: calc(8vmin + 48px);
  min-width: 100%;
  border-bottom: 3px solid #f4c67f;
  justify-content: center;
  align-items: center;
}

.letter_tile {
  cursor: pointer;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 7vmin;
  color: white;
  box-shadow: 5px 5px 0 black;
  background-color: blue;
  list-style-type: none;
  width: 8vmin;
  height: 8vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1vmin;
  margin-right: 1vmin;
  line-height: 1rem;
}

#tile_container2 {
  margin-top: 0;
  padding-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 15px;
}

#tile_prompt {
  margin-top: 30px;
  transition: opacity 0.5s;
  opacity: 0;
}

.answer_input {
  outline: 3px solid #f4c67f;
  border: none;
  padding: 5px;
  font-family: "Peachy";
  font-size: 4vmin;
  margin-right: 20px;
}

.answer_input:focus {
  outline: 6px solid #f4c67f;
}

#prompt5_option1 {
  padding-top: 20px;
}

#drake_equation {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "CMU";
}

#drake_container {
  display: flex;
  flex-direction: row;
}

#drake_list_container {
  cursor: move;
  display: grid;
  gap: 10px;
  grid-template-columns: 5ch 1fr;
  margin-bottom: 30px;
}

.drake_subgrid {
  display: grid;
  gap: 10px;
  grid-template-rows: repeat(8, 1fr);
}

.drake_term {
  list-style-type: none;
  font-family: "CMU";
  font-size: 3vmin;
  padding: 5px;
  line-height: 1rem;
  text-align: center;
  align-self: center;
}

.drake_desc {
  list-style-type: none;
  font-family: Helvetica, sans-serif;
  font-size: 3vmin;
  line-height: 1rem;
  padding: 10px 5px;
  border: 3px solid #f4c67f;
  text-align: left;
  align-self: center;
}

.drake_highlight {
  background-color: #b3dfde;
}

.drake_filter {
  background-color: #f4c67f;
}

.shape_container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#sat_curved_arrow {
  transform: scaleY(-1) rotate(-0.125turn);
  font-size: 6vmin;
  line-height: 1rem;
}

.sat_circle {
  border-radius: 100%;
  background-color: white;
  border: 3px solid black;
  display: flex;
  justify-content: center;
}

#sat_small_circle {
  width: 10vmin;
  height: 10vmin;
}

#sat_large_circle {
  width: 20vmin;
  height: 20vmin;
}

.sat_circle_content {
  margin-left: -1vmin;
  font-family: "CMU";
  line-height: 1rem;
  text-align: center;
  font-size: 4vmin;
  align-self: center;
}

.shape_cont_img {
  width: 20vmin;
  height: 20vmin;
}