@font-face {
    font-family: "zendots";
    src: url("assets/ZenDots-Regular.ttf");
    src: url("assets/ZenDots-Regular.ttf") format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url("assets/black_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hex_container {
    position: relative;
    max-width: 95vw;
    max-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hex_row {
    display: flex;
    flex-direction: row;
}

.base_hex {
    height: 30vw;
    width: calc(30vw * 1.1547);
    margin-left: 10vw;
    margin-right: 10vw;
    background-image: url("assets/gold_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.mid_hex {
    height: 26vw;
    width: calc(26vw * 1.1547);
    margin: 2vw calc(2vw * 1.1547);
    background-image: url("assets/red_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.top_hex {
    height: 22vw;
    width: calc(22vw * 1.1547);
    margin: 2vw calc(2vw * 1.1547);
    background-image: url("assets/gold_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    align-items: center;
    justify-content: center;
}

#hex_row2 {
    margin-top: -2vw;
    margin-bottom: 3vw;
}

#hex_row3 {
    margin-top: 3vw;
    margin-bottom: -2vw;
}

.icon {
    width: 16vw;
    height: 16vw;
    filter: brightness(10%);
    opacity: 50%;
    cursor: pointer;
    transition: all 1s ease-in;
}

.icon.shine {
    opacity: 100%;
    -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.6)) brightness(90%);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.6)) brightness(90%);
}

#skull_icon {
    margin-top: 5vw;
    pointer-events: none;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    z-index: 5;
}
  
#overlay.active {
    opacity: 1;
}

#modal_container {
    width: 90vw;
    height: 90vh;
    z-index: 10;
    position: fixed;
    z-index: -1;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    opacity: 0;
    max-width: 90%;
    min-width: 80%;
    max-height: 90%;
    border-style: solid;
    border-image: url("assets/gray_bg.png");
    border-image-slice: 10 fill;
    border-image-outset: 5vw;
    background-image: url("assets/black_bg.png");
    z-index: 10;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.modal_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vh;
    z-index: 10;
}

.modal_input {
    height: 20vw;
    width: 70%;
    caret-color: transparent;
    line-height: 10vw;
    text-align: center;
    font-family: "zendots";
    font-size: 2em;
    border: 10px solid black;
    background-image: url("assets/gold_bg.png");
    background-size: cover;
    filter: saturate(50%);
    text-shadow: 2px 2px 5px white;
    pointer-events: none;
    z-index: 10;
}

.close_button {
    height: 15vw;
    width: 15vw;
    border-radius: 50%;
    background-image: url("assets/red_bg.png");
    background-size: cover;
    border: none;
    font-family: "zendots";
    font-size: 2.5em;
    color:white;
    text-shadow: 2px 2px 5px black;
    cursor: pointer;
    z-index: 10;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

*:focus {
    outline: none;
}

.modal_body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2vw;
    align-items: center;
    justify-items: center;
    border: 10px solid black;
    padding: 10px;
    z-index: 10;
}

.keypad_button {
    width: 20vw;
    height: 20vw;
    background-image: url("assets/gold_bg.png");
    background-size: cover;
    line-height: 20vw;
    text-align: center;
    font-family: "zendots";
    font-size: 1.8em;
    border-radius: 50%;
    text-shadow: 2px 2px 5px white;
    z-index: 10;
}

#keypad_button_C {
    background-image: url("assets/red_bg.png");
    z-index: 10;
}

#keypad_button_K {
    background-image: url("assets/green_bg.png");
    z-index: 10;
}

#time {
    width: 65%;
    font-family: "zendots";
    font-size: 2.5em;
    padding: 10px;
    border: 10px solid black;
    margin-bottom: 5vh;
    background-image: url("assets/gold_bg.png");
    background-size: cover;
    filter: saturate(50%);
    text-shadow: 2px 2px 5px white;
    pointer-events: none;
    text-align: center;
}

.modal_header.text {
    justify-content: space-between;
}

#penalty_head_text, #success_head_text, #hint_head_text {
    font-size: 1.5em;
}

.modal_body.text {
    display: flex;
    flex-direction: column;
    padding: 10vw 2vw 10vw 2vw;
    text-align: center;
}

.modal_text {
    font-size: 1em;
    font-family: "zendots";
    padding: 5vw;
}

br {
    display: block;
}

.number_bubble {
    margin-left: 2px;
    margin-right: 2px;
    height: 12vw;
    line-height: 12vw;
    width: 12vw;
    border-radius: 50%;
    text-align: center;
    font-family: "zendots";
    font-size: 1em;
    color: black;
    border-style: inset;
    border: 2px solid black;
}

.bubble_container {
    display: flex;
    flex-direction: row;
}

#hint_bubble_container {
    width: 100%;
    justify-content: space-around;
}

.machine_background {
    position: absolute;
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    z-index: 20;
}

#machine_close {
    position: absolute;
    top: 5vh;
    left: 80vw;
    z-index: 30;
}

#speech_button {
    position: absolute;
    height: 15vw;
    width: 15vw;
    border-radius: 50%;
    border: 3px solid black;
    background: linear-gradient(to bottom left, #e9967a, #b22222);
    box-shadow: 0 0 10px white;
    cursor: pointer;
    z-index: 30;
    left: 42.5vw;
    top: 80vh;
}

#speech_button.activeSpeech {
    background: linear-gradient(to bottom left, #90ee90, #228b22);
}

#selfie_cam {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
}

#sickle_overlay {
    position: absolute;
    width: 50vmin;
    height: 50vmin;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#ship_canvas {
    touch-action: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(12px);
    -webkit-filter: blur(12px); /* Safari compatibility */
}